<div class="print-area">
  <div class="">
    <div class="input-group">
      <input class="form-control" placeholder="location">
    </div>

    <p>Pricing</p>
    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">At color</span>
      </div>
      <input class="form-control" placeholder="1">
      <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">charge</span>
      </div>
      <input class="form-control" placeholder="2.00">
    </div>

    <div class="input-group mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">At color</span>
        </div>
        <input class="form-control" placeholder="2">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">charge</span>
        </div>
        <input class="form-control" placeholder="2.00">
    </div>
      
    <div class="input-group mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">At color</span>
        </div>
        <input class="form-control" placeholder="3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">charge</span>
        </div>
        <input class="form-control" placeholder="2.00">
    </div>
  </div>
</div>